.imagem-e-texto {
    background-image: url(../../public/assets/pexelsphoto406014.jpeg);
    height: 700px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 50px;
}


/* principal.css */

.Jornada {
    font-size: 30px;
    text-align: center;
    color: #5C4033;
}

.titulo-amigo-verdadeiro {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cards pets */
.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 50px;
    gap: 5px;
}

.card-gato-cachorro {
    width: 25%;
}

.card-cor-black {
    background-color: black;
}


.texto-revitalize {
    /* Estilo para o parágrafo que fala sobre a revitalização do gatinho */
    color: aliceblue;
    font-size: 30px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.card-gato-cachorro {
    display: flex;
    height: 400px;
}

.ArrowRight-cards {
    color: white;
    font-size: 50px;
}

.alinhando-o-texto-e-a-seta {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 80px;
}

.icone-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.icon-coracao {
    font-size: 60px;
}

.icon-Dog {
    font-size: 60px;
}

.icon-Cat {
    font-size: 60px;
}

.companheiros-amorosos {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-family: "Open Sans", sans-serif;
}

.imagem-pets-cards {
    height: 400px;
    max-width: 100%;
}

/* Estilo para seção imagem gato */

.imagem-texto-gato {
    margin-top: 40px;
    background-image: url(../../public/assets/pexelsphoto3452072gato.jpeg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.imagem-texto-gato-container {
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 30px;


}

.ronronando {
    font-size: 30px;
    width: 78%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.dicas-para-vida {
    color: white;
    text-align: justify;
    font-size: 20px;
    letter-spacing: 10px;
}

/* seção atode  */

.adote {
    background-color: #ddd;
}

.adote-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.adote-um-cachorro {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.imagem-adote-um-cachorro {
    width: 46%;
    height: 500px;
    border-radius: 5px;
}

.mude-uma-vida {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.procurando-por-amor {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 200;

}


.especial{
    background-color: #5C4033;
}

/* Beneficio de adotar um cao */

.benefico-de-adotar{
    background-color: #ddd;
    padding: 30px;
}

.beneficio-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.titulo-beneficio {
    width: 30%;
    margin: 0 auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 100;
    margin-bottom: 50px;
}

.paragrafos-beneficios {
    display: flex;
    align-items: center;    
    background-color: white;
    height: 500px;
    width: 27%;
}

.primeiro-paragrafo {
    width: 70%;
    margin: 0 auto;
}

.descobrindo-a-familia-feliz-com-pet {
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 200;
}

.cachorro-no-carro {
    width: 40%;
    height: 500px;
    border-radius: 5px;
}



/* contato-doacao */
.contato-doacao {
    background-image: url(../../public/assets/precisadeumadoacao.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 700px;

    display: flex;
    justify-content: flex-end;
}

.contato-doacao-content {
   width: 30%;
   height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 30px;
   padding: 50px;
}

.precisa-de-um-doce {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.ajude-nos-a-garantir {
    font-family: sans-serif;
    font-size: 19px;
}

.links-contato-doacao {
     width: 25%;
     text-align: center;
     text-decoration: none;
     font-size: 25px;
     background-color: #ddd;
     padding: 10px;
     border-radius: 10px;
     color: black;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 400;
     transition: 1.5s;
}

.links-contato-doacao:hover {
    background-color: orangered;
    color: #fff;
}

@media (width: 1440px) {

    .card-gato-cachorro {
        width: 30%;
    }

    .dicas-para-vida {
        color: white;
        text-align: justify;
        font-size: 20px;
        letter-spacing: 5px;
    }
}

@media (width: 1024px) {
    .titulo-amigo-verdadeiro {
        font-size: 40px;
    }

    .card-gato-cachorro {
        width: 50%;
    }


    .ronronando {
        font-size: 30px;
        width: 83%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .dicas-para-vida {
        color: white;
        text-align: justify;
        font-size: 18px;
        letter-spacing: 2px;
    }
}

@media (width: 768px) {
    .titulo-amigo-verdadeiro {
        font-size: 40px;
    }

    .card-gato-cachorro {
        width: 50%;
    }

    .texto-revitalize {
        font-size: 25px;
    }

    .ronronando {
        font-size: 25px;
        width: 100%;
    }

    .dicas-para-vida {
        font-size: 18px;
    }
}